@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Macala de Club';
  src: url('/fonts/MacalaDeClub.woff2') format('woff2'),
       url('/fonts/MacalaDeClub.woff') format('woff'),
       url('/fonts/MacalaDeClub.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

* {
    scroll-behavior: smooth;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

::-webkit-scrollbar {
  display: none;
}